<form >
    <h1>EDITANDO UMA CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)] = "categoria.nome" type="text"  name="name" >
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)] = "categoria.descricao" type="text" name="descricao" ></textarea> 
    </mat-form-field>

    <div class="bottons">
        <button  (click) = "update()" class= "botton" class="mat-elevation-z8"  mat-stroked-button color="primary">EDITAR</button>
        <button  (click) = "cancelar()"class= "botton" class="mat-elevation-z8"  mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>
